.search-container {
    margin-bottom: 30px;
    position: relative;
    z-index: 1000;
}

.search-input-wrapper {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-tertiary);
    font-size: 18px;
}

.search-input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    background-color: var(--bg-tertiary);
    border: none;
    border-radius: 20px;
    color: var(--text-primary);
    font-size: 14px;
}

.search-input::placeholder {
    color: var(--text-tertiary);
}

.search-results {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
    z-index: 1001;
    scrollbar-width: thin;
    scrollbar-color: var(--bg-tertiary) var(--bg-primary);
}

.search-results::-webkit-scrollbar {
    width: 6px;
}

.search-results::-webkit-scrollbar-track {
    background: var(--bg-primary);
    border-radius: 3px;
}

.search-results::-webkit-scrollbar-thumb {
    background: var(--bg-tertiary);
    border-radius: 3px;
}

.search-results::-webkit-scrollbar-thumb:hover {
    background: var(--bg-secondary);
}

.search-result-item {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    color: var(--text-primary);
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.search-result-item.loading {
    text-align: center;
    color: #666;
    padding: 8px;
    font-size: 0.9em;
}

.search-result-avatar {
    margin-right: 12px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.search-result-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.search-result-item:hover {
    background-color: var(--bg-tertiary);
}

.nav-menu {
    flex: 1;
}

.nav-item {
    list-style: none;
    margin-bottom: 16px;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    color: var(--text-secondary);
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.nav-link:hover {
    background-color: var(--bg-tertiary);
    color: var(--text-primary);
}

.nav-icon {
    font-size: 22px;
    margin-right: 12px;
}

.nav-footer {
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid var(--border);
}

.nav-link.logout:hover {
    color: var(--error);
}

/* Contacts Sidebar */
.contacts-header {
    font-size: 20px;
    color: var(--text-secondary);
    border-bottom: 1px solid var(--bg-tertiary);
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.contacts-tabs {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border);
}

.contacts-tab {
    flex: 1;
    padding: 10px 5px;
    text-align: center;
    background: none;
    border: none;
    color: var(--text-tertiary);
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 14px;
}

.contacts-tab.active {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}

.contacts-tab:hover:not(.active) {
    color: var(--text-secondary);
}

.contacts-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-avatar-wrapper {
    position: relative;
    margin-right: 12px;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
}

.contact-avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.group-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-avatar-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--primary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.group-sender {
    font-weight: 500;
    color: var(--text-secondary);
}

.sidebar-contact-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-bottom: 10px;
    /* background-color: var(--bg-secondary); */
}

.sidebar-contact-item.unseen .contact-name,
.sidebar-contact-item.unseen .last-message,
.sidebar-contact-item.unseen .message-time {
    font-weight: 600;
    color: var(--text-primary);
    /* background-color: var(--bg-tertiary); */
}

.sidebar-contact-item:hover {
    background-color: var(--bg-primary);
}

.contact-details {
    flex: 1;
    min-width: 0;
}

.contact-details .contact-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-header .contact-name {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-secondary);
}

.contact-header .message-time {
    font-size: 10px;
    color: var(--text-secondary);
    white-space: nowrap;
    margin-left: 4px;
}

.contact-details .last-message {
    font-size: 12px;
    color: var(--text-tertiary);
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-contacts-sidebar {
    color: var(--text-tertiary);
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
}

.load-more-item {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    height: 50px;
}

.sidebar-loading-spinner {
    width: 20px;
    height: 20px;
    border: 2px solid var(--bg-tertiary);
    border-radius: 50%;
    border-top-color: var(--primary);
    animation: spinner 1s linear infinite;
}

.contacts-list a {
    text-decoration: none;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}