/* app/(main)/main.js */

.app-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.main-content {
  margin: 15px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--bg-tertiary) var(--bg-primary);
}

.nav-sidebar {
  max-width: var(--sidebar-width);
  width: 100%;
  border-right: 1px solid var(--border);
  padding: 20px;
  background-color: var(--bg-secondary);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contact-sidebar {
  max-width: var(--sidebar-width);
  width: 100%;
  padding: 20px;
  border-left: 1px solid var(--border);
  background-color: var(--bg-secondary);
  overflow-y: auto;
}

.toggle-btn {
  display: none;
  position: fixed;
  top: 10px;
  width: 40px;
  height: 40px;
  z-index: 1000;
  background-color: var(--bg-secondary);
  border: 1px solid var(--border);
  color: var(--text-primary);
  cursor: pointer;
  border-radius: 4px;
}

.left-toggle {
  left: 16px;
}

.right-toggle {
  right: 16px;
}

@media (max-width: 1100px) {
  .right-toggle {
    display: block;
  }

  .main-content {
    margin-top: 60px;
  }

  .contact-sidebar {
    position: fixed;
    right: 0;
    top: 60px;
    right: -100%;
    height: calc(100vh - 60px);
    z-index: 100;
    transition: right 0.5s ease;
  }

  .contact-sidebar.active {
    right: 0;
  }
}

@media (max-width: 750px) {
  .left-toggle {
    display: block;
  }

  .main-content {
    margin: 10px;
    margin-top: 60px;
  }

  .nav-sidebar {
    position: fixed;
    left: 0;
    top: 60px;
    left: -100%;
    height: calc(100vh - 60px);
    z-index: 100;
    transition: left 0.5s ease;
  }

  .nav-sidebar.active {
    left: 0;
  }
}