@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  /* Background */
  --bg-primary: #191820;
  --bg-secondary: #1C1D24;
  --bg-tertiary: #2c2d35;

  /* Text colors */
  --text-primary: #fafafa;
  --text-secondary: #b5b5be;
  --text-tertiary: #71717a;

  /* Main colors */
  --primary: #0d6aff;
  --primary-hover: #0258d8;
  --primary-light: #2b81f1;

  /* Border colors */
  --border: #676772;
  --border-light: #9a9a9c;
  --border-color: #2282ff;

  /* Status colors */
  --success: #25B74D;
  --error: #f43f5e;
  --warning: #f59e0b;
  --info: #0981b9;

  --sidebar-width: 350px;
  --sidebar-width-sm: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-primary);
  height: 100vh;
  overflow: hidden;
}