@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  /* Background */
  --bg-primary: #141324;
  --bg-secondary: #1c1a30;
  --bg-tertiary: #33304d;

  /* Text colors */
  --text-primary: #ffffff;
  --text-secondary: #b5b5d4;
  --text-tertiary: #8585a5;

  /* Main colors */
  --primary: #0f57ca;
  --primary-hover: #0f469e;
  --primary-light: #3b7adf;

  /* Border colors */
  --border: #4b4b64;
  --border-light: #5f5f92;
  --border-color: #1953af;

  /* Status colors */
  --success: #25B74D;
  --error: #f43f5e;
  --warning: #f59e0b;
  --info: #0981b9;

  --sidebar-width: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-primary);
  height: 100vh;
  overflow: hidden;
}

.loader {
  animation: rotate 3s linear infinite;
}
.error-message{
  color: var(--error);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}