<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MForum</title>
    <link rel="stylesheet" href="/static/css/error.css">
    <noscript>
        <div class="noscript-error">
            <h2>JavaScript is Disabled</h2>
            <p>This website requires JavaScript to function properly. Please enable JavaScript in your browser settings and refresh the page.</p>
        </div>
    </noscript>
    <link rel="shortcut icon" href="/static/image/img_forum.png" type="image/x-icon">
   
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <header class="header"><div class="header-content"><div class="logo"><a id="logoLink" href="/">RTF</a></div><button class="btn btn-logout">Logout</button></div></header>
        <div id="main-content">
        </div>
    </div>
    <script type="module" src="/static/js/app.js">
    </script>
</body>

</html>