body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

p {
	font-size: small;
	margin: 5px 60px;
	color: red;
}

label {
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 50px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

input {
	width: 60%;
	height: 10px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 10px auto;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 5px;
}

select {
	width: 65%;
	height: 40px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 10px auto;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 5px;
}

button {
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 10px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

button:hover {
	background: #6d44b8;
}

.main {
	width: 450px;
	height: 850px;
	overflow: hidden;

	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

#chk {
	display: none;
}

.signup {
	position: relative;
	width: 100%;
	height: 100%;
}

.login {

	height: 800px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}

.login label {
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked~.login {
	transform: translateY(-850px);
}

#chk:checked~.login label {
	transform: scale(1);
}

#chk:checked~.signup label {
	transform: scale(.6);
}



.notification-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: fixed;
	top: 20px;
	right: 20px;
	width: 350px;
}


.notification {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	margin-bottom: 15px;
	/* Space between notifications */
	transform: translateX(100%);
	transition: transform 0.5s ease-out, opacity 0.5s ease-out;
	display: flex;
	align-items: center;
	opacity: 0;
}

.notification.hidden {
	opacity: 0;
	transform: translateX(100%);
}

.notification:not(.hidden) {
	opacity: 1;
	transform: translateX(0);
}

.innernoti {
	padding: 10px;
	background-color: #f0f0f0;
	display: flex;
	align-items: center;
	width: 100%;
	border-radius: 7px;
}

.text-content {
	flex-grow: 1;
}

.notification-header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.notification-title {
	font-weight: bold;
}

.noscript-error {
	background-color: #ffebee;
	color: #c62828;
	padding: 20px;
	border: 1px solid #c62828;
	text-align: center;
	font-family: Arial, sans-serif;
	margin: 20px;
}